@media only screen and (max-width:600px) {
  .parallax-container {
    height: 100px;
  }
}

@media only screen and (min-width:601px) {
  .parallax-container {
    height: 200px;
  }
}

@media only screen and (min-width:993px) {
  .parallax-container {
    height: 250px;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@font-face {
  font-family: Mochary;
  src: url(../fonts/mochary/mochary.ttf);
}

.h5-font {
  font-family: Mochary;
  font-size: 50px;
}

.nav-fontf {
  font-family: Mochary;
  font-size: 40px;
}
/* .parallax-container {
    height: 300px;
  } */
/* @media screen and (max-width:699px) {
  .card {min-height: 150px;}
} */
.card-image {
  overflow: hidden;
  height: 150px;
  align: center;
}

.card-content p{
  text-align: left;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container-submit {
    border-radius: 5px;
    background-color: #fafafa;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.nav-wrapper .brand-logo img {
  height: 64px;
}

@media (max-width: 600px) {
  .nav-wrapper .brand-logo img {
    height: 56px;
  }
